<div class="nav">
    <ul>
        <li>
            <form action="/" method="GET">
            <input type="submit" value="Home">
            </form>
        </li>

        <li>
            <form action="/about" method="POST">
            <input type="submit" value="about">
            </form>
        </li>
        

    </ul>
</div>

