<%- include("partials/header.ejs")  %>

<div id="heading">
  <h1>heading for the site</h1>
</div>

<div id="main-container">
  <%- include("partials/vert_nav.ejs")  %>
    
    <div id="page-content-container">
      <p>some content in the middle of the page</p>
      <p>another paragraph</p>
    </div>
</div>

<%- include("partials/footer.ejs")  %>