<%- include("partials/header.ejs")  %>

<div class="center">
    <div id="home-shell">
        <h1>BookNote</h1>
        <div class="button-container">
            <form action="/login" method="get">
                <button type="submit">Login</button>
            </form>

            <form action="/register" method="get">
                <button type="submit">Register</button>
            </form>

        </div>
    </div>
</div>

<%- include("partials/footer.ejs")  %>