<%- include("partials/header.ejs")  %>
<%- include("partials/navbar.ejs")  %>
<div id="main-container">

    <section>
      <h2>See what your friends are reading...</h2>
    </section>

    <section>
      <h2>Jump Back In!</h2>
      <p>Catch up in your recent club activities...</p>
    </section>

    <section>
      <h2>Latest Reviews</h2>
      <p>See what others thought...</p>
    </section>
</div>

<!-- user info -->
<div id="user-info">
  <h2> Welcome </h2>
  <h2> <%= user.username %></h2> 
</div>

<script src="scripts/carousel.js"></script>
<%- include("partials/footer.ejs")  %>