<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  <title>Website Title</title>
</head>

<body>
  <main>
        <nav id="navbar">
          <h1>BookNotes</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/social">Social</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
          <div id="cherry-tree-div1">
          </div>
          <div id="cherry-tree-div2">
          </div>
        </nav>