<nav id="navbar">
    <h1>BookNote</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/social">Social</a></li>
      <li><a href="/clubs">Clubs</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
    <div id="cherry-tree-div1">
    </div>
    <div id="cherry-tree-div2">
    </div>
  </nav>