<%- include("partials/header.ejs") %>

<div id="body">
<%- include("partials/nav.ejs") %>

<div class="content-area">
    <div class="content-title"> <!-- title div -->
            <h2>About</h2>
    </div>

    </div>
</div>

</div>
<%- include("partials/footer.ejs") %>