<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap" rel="stylesheet">

  <title>Website Title</title>
</head>

<body>
  <main>
      <div id="master">
      
        <div id="heading">
          <div id="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Pok%C3%A9mon_Trading_Card_Game_logo.svg/1200px-Pok%C3%A9mon_Trading_Card_Game_logo.svg.png" height="150" alt="">
            <h1>Complete Card Database</h1>
          </div>
          <div id="horizontal-nav-bar">
            <ul>
              <li><form action="/" method="GET"><input type="submit" value="Home"></form></li>
              <li><form action="/card-search" method="GET"><input type="submit" value="Card Search"></form></li>
              <li><form action="/set-search" method="GET"><input type="submit" value="Sets"></form></li>
            </ul>
          </div>
        </div>